.main{
    display: flex;
    justify-content: space-between;
    /* gap: 150px; */
    margin-left: 20px;
} 

.img2{
    margin-top: 200px;
}

.btn{
    border-color: rgb(228, 17, 17);
    width: 100px;
    height: 40px;
}
 
.red{
    width:100px ;
    height: 40px;
    background-color: red;
    color: white;
    border: none;
}

.cart{
    width:100px ;
    height: 40px;
    color: red;
    border-color: red;


} 



@media  (min-width :350px ) and (max-width :680px ) {

    
    .main{
        display: grid;
        gap: 40px;
        justify-content: center;
        margin-left: 20px;
        overflow-x: hidden;
        
    } 

    .img2{
        margin-top: 20px;
        width: 100px;
        
        
    }

    .specification{
        /* width: 400px; */
    } 

    
    
 }

 @media  (min-width :820px ) and (max-width :1200px ) {

 }